# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
[Bb]uild/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.

__pycache__/
.venv/

# oh my opencode

node_modules/
package-lock.json
package.json
lsp.json

# visi
project/
waveform/
*.vcd
netlist/

# vivado
vivado*.log
vivado*.jou
.Xil/
xsim.dir/
*.bit
webtalk*.log
webtalk*.jou
*.ltx

# vivado xsim command-line flow temp files
xelab.log
xelab.pb
xvlog.log
xvlog.pb
xsim.log
xsim.jou
xsim_*.backup.log
xsim_*.backup.jou
xsim_*_work/

#omo
.omo/

# xv6
Reference/xv6/

data/
kernel
kernel/
build/
log/

*.hex
*.coe
*.log